// ナビバー

a.home-btn {
  color: black
}

// sign_up, sign_in

.sign-wrapper {
  padding: 1rem 0 100%;
  background-color: rgba(236, 236, 236, 0.671);
}

.sign-container {
  width: 50%;
  margin: 0 auto;
  padding: 1rem 0 1rem 5rem;
  background-color: white;
}

.field {
  margin-bottom: 1rem;
  input {
    width: 400px;
  }
}

.actions {
  display: flex;
  align-items: center;
  .btn {
    position: relative;
    border-radius: 50px;
    margin-right: 1rem;
  }
}

#error_explanation {
  color: red;
}
